* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-image: radial-gradient(180deg, white, #eee);
}

.header-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

nav {
  height: 51px;
  line-height: 50px;
  background-color: #2c3e50;
}

.errorText {
  display: block;
  color: #a63232;
  margin: 2px 0;
}

.passwordError {
  display: block;
  margin-top: 10px;
}

.input-error {
  border: 1px solid #a63232;
}

.row {
  width: 1240px;
  margin: 0 auto;
}

.nav-logo {
  float: left;
}

.nav-links ul {
  list-style: none;
  float: right;
}

.nav-links ul li {
  display: inline-block;
  padding: 0 20px;
  height: 100%;
}

.nav-links ul li ul li {
  background-color: white;
}

.nav-links ul li ul li a {
  color: #2c3e50;
}

a:visited,
a:link {
  text-decoration: none;
  color: black;
  font-size: 120%;
  color: white;
}
a:hover {
  color: rgb(230, 230, 230);
}

.btn {
  font-size: 20px;
  border: 1px solid #bdc3c7;
  padding: 6px 12px;
  border-radius: 1px;
  transition: all 0.2s ease-in-out;
  background-color: #8e44ad;
  text-transform: uppercase;
}

.btn:hover {
  color: #ecf0f1;
  background-color: #2c3e50;
  color: #bdc3c7;
}

.nav-links ul li a {
  transition: all 0.2s ease;
}

.nav-links ul li a:hover {
}

#hoverli {
  position: relative;
}
.nav-links ul li ul {
  display: none;
  position: absolute;
  z-index: 20;
}

.nav-links ul li ul li {
  width: 250px;
  text-align: center;
}

#hoverli:hover ul {
  display: block;
  position: absolute;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  height: 550px;
  background-image: linear-gradient(to left bottom, #8e44ad, #2c3e50);
}

.intro-info h3 {
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: white;
}

.intro-images {
  width: 50%;
  position: relative;
  height: 100%;
}

.intro-images img {
  max-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  border: 2px solid #fff;
}

.intro-images img:nth-child(1) {
  left: 50%;
  transform: translateY(-50%) scale(1.4);
}

.intro-images img:nth-child(1):hover {
  transform: translateY(-50%) scale(1.8);
  z-index: 2;
}

.intro-images img:nth-child(2) {
  left: 17%;
  transform: translateY(-50%) scale(1.5);
}

.intro-images img:nth-child(2):hover {
  transform: translateY(-50%) scale(1.8);
  z-index: 2;
}

.intro-images img:nth-child(3) {
  z-index: 1;
  left: 35%;
  transform: translateY(-50%) scale(1.7);
}

section h2 {
  margin: 5vh;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to left, #8e44ad, #2c3e50);
  background-clip: text;
}

.info {
  width: 100%;
  height: 450px;
  position: relative;
  border: 1px solid white;
  box-shadow: 5px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.info .img-1 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./5.jpg");
  background-size: cover;
}

.info .img-2 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./4.jpg");
  background-size: cover;
  background-position: center;
}

.info-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
}

.info-text h3 {
  font-size: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

footer {
  margin-top: 15vh;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  background-color: #2c3e50;
  padding: 20px 40px;
}

footer h6 {
  align-self: flex-end;
  font-size: 90%;
  color: #eee;
}

.social-media h3 {
  text-align: center;
  color: #eee;
}

.social-media i {
  font-size: 200%;
  margin: 10px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.07s ease-out;
}

.social-media i:hover {
  transform: scale(1.1);
}

.social-media i:nth-child(2) {
  color: #c13584;
}

.social-media i:nth-child(3) {
  color: #3c5a99;
}
.social-media i:nth-child(4) {
  color: #1dcaff;
}

.footer-address {
  color: #eee;
}

.title {
  text-align: center;
  margin: 30px;
}

.login {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.login-container {
  width: 20%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  border: 1px solid #8e44ad;
}

.login-container form {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #2c3e50;
}

.login-container form input {
  padding: 6px;
  font-family: inherit;
  border: 1px solid #8e44ad;
  text-align: center;
}

.login-container form h1:nth-child(1) {
  margin: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to left, #8e44ad, #2c3e50);
  background-clip: text;
}

.login-container form input:nth-child(2) {
  margin: 15px 50px;
}
.login-container form input:nth-child(3) {
  margin: 15px 50px;
}

.login-container form input:nth-child(4) {
  margin: 15px 50px 30px 50px;
}

.addblock {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.addblock-container {
  display: flex;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #8e44ad;
  box-shadow: 5px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.addblock-container form {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.addblock-container form input {
  padding: 5px;
  font-family: inherit;
  margin: 10px;
  border: 1px solid #8e44ad;
}
.addblock-container form h1 {
  margin: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to left, #8e44ad, #2c3e50);
  background-clip: text;
}

.input-2 {
  display: flex;
  justify-content: space-between;
}

.label-input {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.showinfo {
  height: 100vh;
  width: 100vw;
}

.showinfo-block {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to left bottom, #8e44ad, #2c3e50);
  color: white;
  position: relative;
}

.showinfo-blockinfo {
  position: absolute;
  top: 30%;
  left: 20%;
}
.showinfo-blockinfo p {
  margin: 4px;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.showinfo-blocklinks {
  position: absolute;
  top: 50%;
  left: 60%;
}

table {
  width: 100%;
}
tr {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

th {
  width: 100%;
  margin: 5px 0;
}
th:nth-child(1) {
  flex: 0.5;
}

td {
  text-align: center;
  width: 100%;
  margin: 3px 0;
}

td:nth-child(1) {
  flex: 0.5;
}
.td-link:link,
.td-link:visited {
  color: #8e44ad;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.td-link:active,
.td-link:hover {
  color: #2c3e50;
}

.table {
  overflow-y: scroll;
}

#textarealabel {
  display: block;
  margin-top: 5px;
}
textarea {
  border: 1px solid #8e44ad;
}

.editblock {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.editblock-container {
  display: flex;
  height: 450px;
  width: 60%;
  background-color: white;
  border: 1px solid #8e44ad;
  box-shadow: 5px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.eb-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eb-left h4 {
  margin: 5px 0;
}

.eb-left button {
  margin-bottom: 10px;
  width: 150px;
  height: 25px;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  font-weight: 700;
  font-family: inherit;
  border: none;
  transition: all 0.1s ease-in-out;
}

.eb-left button:nth-of-type(1) {
  background-color: #504f2c;
}

.eb-left button:nth-of-type(1):hover {
  background-color: #afa900;
}
.eb-left button:nth-of-type(2) {
  background-color: #502c2c;
}

.eb-left button:nth-of-type(2):hover {
  background-color: rgb(175, 0, 0);
}

#btn_edit {
  width: 200px;
  height: 30px;
  margin-top: 5px;
}

.eb-left button {
  margin-bottom: 10px;
  width: 150px;
  height: 25px;
  cursor: pointer;
  background-color: #2c3e50;
  color: white;
  font-weight: 700;
  font-family: inherit;
  border: none;
}

.eb-left img {
  max-width: 250px;
  max-height: 250px;
  border: 1px solid #8e44ad;
  box-shadow: 5px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.eb-right {
  width: 50%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 10px;
}
.eb-right h1 {
  margin: 1rem;
  text-transform: uppercase;
  font-size: 160%;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to left, #8e44ad, #2c3e50);
  background-clip: text;
}

.eb-right input {
  border: 1px solid #fff;
  border-bottom: 1px solid #8e44ad;
  height: 25px;
  padding: 0 5px;
  font-family: inherit;
}

.eb-right input:focus {
  outline: none;
}

.eb-right input[type="file"] {
  padding: 0;
}

.eb-right input[type="submit"] {
  background: #401e4e;
  color: white;
  font-weight: 600;
  width: 150px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.eb-right input[type="submit"]:hover {
  background: #8e44ad;
}

.eb-right p {
  font-weight: 700;
}

.eb-right p span {
  font-weight: 400;
  margin-top: 5px;
}

.sp {
  width: 100%;
  height: 100%;
}

.sp-container {
  width: 100%;
  height: 100%;
}

.sp-products {
  width: 1140px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.sp-box {
  border: 1px solid #8e44ad;
  padding: 20px;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.616);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
  position: relative;
}
.sp-box a:link,
.sp-box a:visited {
  color: #8e44ad;
  text-transform: uppercase;
  font-size: 1rem;
  transition: all 0.2s ease;
  margin: 5px 0;
}

.sp-box a:active,
.sp-box a:hover {
  color: #2c3e50;
}

.sp-box button {
  border: none;
  padding: 6px 0;
  cursor: pointer;
  background-color: #8e44ad;
  color: white;
  border: 1px solid #2c3e50;
  transition: all 0.2s;
}

.sp-box button:hover {
  background-color: #2c3e50;
  border: 1px solid;
}
.sp-box button:focus {
 outline:none;
}
.sp-price {
  position: absolute;
  background-color:#e42929;
  color:white;
  width:60px;
  transform: rotate(-45deg);
  top:18px;
  left:-4px
}

.sp-box img {
  max-width: 250px;
  max-height: 250px;
}

#isExpire {
  background-color: rgba(255, 0, 0, 0.562);
  color: white;
}

.forget_password {
  text-align: center;
  padding: 5px 0;
  margin-top: -15px;
}

.forget_password a {
  color: #401e4e;
  font-size: 80%;
  transition: all 0.2s;
}
.forget_password a:hover {
  color: #a11c1c;
  font-size: 80%;
}

.forgetpassword {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.forgetpassword-container {
  position: absolute;
  top: 40%;
  padding: 0 20px;
  left: 50%;
  transform: translate(-50%, -40%);
  border: 1px solid #8e44ad;
}

.forgetpassword-container form {
  border-radius: 3px;
  flex-direction: column;
  text-align: center;
  color: #2c3e50;
}
.forgetpassword-container form h1:nth-child(1) {
  margin: 1.2rem;
  text-align: center;
  color: transparent;
  font-size: 160%;
  background-image: linear-gradient(to left, #8e44ad, #2c3e50);
  background-clip: text;
}

.forgetpassword-container form p:nth-child(2) {
  margin: 15px 50px;
  color: #401e4e;
}
.forgetpassword-container form input:nth-child(4) {
  padding: 5px 5px;
  border: 1px solid #8e44ad;
  font-family: inherit;
  margin: 15px 50px;
}
.resetpassword_input {
  width: 250px;
  border: 1px solid #8e44ad;
  padding: 5px 0;
  margin: 0 auto;
  text-align: center;
}
#fp-btn {
  padding: 4px 25px;
  background-color: transparent;
  color: #2c3e50;
  border: 1px solid #8e44ad;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 14px 0;
}

#fp-btn:hover {
  padding: 4px 25px;
  background-color: #2c3e50;
  color: white;
  border: 1px solid #8e44ad;
}

#success {
  color: #2c3e50;
  padding: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
